@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* Variables */
:root {
    --main-color: #e98b2c;
    --dark: #1b1b22;
    --dark-light: #32323a;
    --white: #fff;
    --white-light: #c8c8c8;
}

/* Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before, ::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: var(--white-light);
    background-color: var(--dark);
    /* -webkit-tap-highlight-color: transparent;
    overflow-x: hidden; */
}

a {
    text-decoration: none;
    color: var(--white);
}

img {
    max-width: 100%;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--white);
    font-weight: 600;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.min-vh-100 {
    min-height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* About Section */
.about-section .min-vh-100 {
    /* padding: 120px 15px; */
    padding: 100px 15px;
}

.about-content {
    max-width: 620px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.about-content img {
    max-width: 150px;
    border: 5px solid var(--dark-light);
    border-radius: 50%;
    margin: 0 0 15px;
}

.about-content h1 {
    font-size: 28px;
}

.about-content h2 {
    margin: 20px 0 5px;
    font-size: 20px;
}

.about-content .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-content .skill-item {
    background-color: var(--dark-light);
    margin: 4px 2px 0;
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 16px;
}

.social-media {
    margin: 0 0 8px;
}

.social-media a {
    margin-right: 8px;
}