@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  max-width: 100%;
  /* height: 100vh; */
  padding: 0 2rem;
  /* background-color: salmon; */
}
table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}
table th,
table td {
  padding: 10px 15px;
}
table tbody tr {
  border-bottom: 1px solid #dddddd;
}
input[type="text"] {
  background-color: #eee;
  color: #000;
  border-color: rgb(51, 51, 51);
}

/* CSS Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px 0;
}

/* CSS Navigation */
nav {
  background-color: #417aa8;
  /* line-height: 50px; */
}
nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
}
nav ul li a {
  color: #fff;
}
nav ul li a:hover {
  background-color: #4b88bb;
  display: block;
}

.form__pertama {
  overflow: auto;
  margin-bottom: 50px;
  /* background-color: #eee; */
}
.max-bobot {
  text-align: center;
}
.input__content {
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
  /* width: 100%; */
}
.input__content:focus {
  outline: none;
  border: 1px solid black;
}

.title {
  text-align: center;
  margin: 2rem 0;
}
.no {
  width: 5%;
}
.ini__table {
  background-color: lightblue;
  width: 10%;
}

.disable {
  cursor: not-allowed;
}

.form__pertama,
.form__kedua {
  margin-bottom: 3rem;
  overflow: auto;
}

.transaksiNilai,
.simulasiAudit {
  text-transform: uppercase;
}
/* CSS Transakasi Nilai */
.transaksiNilai {
  margin-bottom: 50px;
  background-color: #eee;
}
.judul-transaksinilai {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
/* CSS Footer */
footer {
  position: fixed;
  width: fit-content;
  bottom: 0;
}
/* CSS Simulasi Audit */
.simulasiAudit {
  margin-bottom: 50px;
  background-color: #eee;
}

.judul-simulasiAudit {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
